# ssh ignores
ssh/*rsa
ssh/*dsa
ssh/*pub
ssh/known_hosts
ssh/authorized_keys
ssh/authorized_keys2

# sublime text ignores
sublime-text-2/Backup
sublime-text-2/Settings
sublime-text-2/Pristine Packages
*.cache
sublime-text-2/Packages/User/Package Control.last-run

# vim history
vim/.netrwhist